body {
    width: 99%;
    height: 900px;
    background-color: #f5f5f5;
}

#title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spacing-reset {
    padding: 0;
    margin: 0;
    border: 0;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}

.enter_section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}

.enter_section p {
    margin-bottom: 0px;
}

#enter_text {
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 38px;
}

.task {
    border: 2px solid #bbb;
    border-radius: 10px;
    background: #ffffff;
}

.todo {
    padding: 0px 15px 20px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.btn-danger {
    background: #ff8f8f;
    border: 0px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    color: #c79cba;
}

h5 {
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
}

h4 {
    padding: 10px;
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
}

.btn-xs {
    border-radius: 5px;
}

.btn-success {
    background: #96c296;
    height: 26px;
    width: 26px;
    border: 3px solid #87ad87;
    margin-right: 10px;
    padding: 0px;
}

i {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    /* margin-top: -4px; */
}

.btn-success i {
    margin-top: -6px;
    opacity: 0;
    left: -4px;
}

.btn-success:hover i {
    opacity: 100;
}

.btn-secondary {
    background: #bebebe;
    border: 0px;
    margin-right: 10px;
}

span {
    font-size: 13pt;
    letter-spacing: 1px;
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    flex-direction: row;
}

#text-enter-button {
    margin-top: 10px;
    margin-bottom: 18px;
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}